.color-1 {
  background-color: #00FF0661;
}

.color-2 {
  background-color: #30EB0061;
}

.color-3 {
  background-color: #6EFF0161;
}

.color-4 {
  background-color: #9CEB0061;
}

.color-5 {
  background-color: #E4FF0061;
}

.color-6 {
  background-color: #EBE20061;
}

.color-7 {
  background-color: #FFE50061;
}

.color-8 {
  background-color: #EBC40061;
}

.color-9 {
  background-color: #FFC50061;
}

.color-10 {
  background-color: #EBAA0061;
}

.color-11 {
  background-color: #FFAE0061;
}

.color-12 {
  background-color: #EB970061;
}

.color-13 {
  background-color: #FF990061;
}

.color-14 {
  background-color: #EB820061;
}

.color-15 {
  background-color: #FF800061;
}

.color-16 {
  background-color: #EB690061;
}

.color-17 {
  background-color: #FF640061;
}

.color-18 {
  background-color: #EB4F0061;
}

.color-19 {
  background-color: #FF470161;
}

.color-20 {
  background-color: #EB360061;
}

.color-21 {
  background-color: #FF2D0061;
}

.color-22 {
  background-color: #EB1D0061;
}

.color-23 {
  background-color: #FF110061;
}

.color-24 {
  background-color: #EB020061;
}

:host ::ng-deep .p-chip.color1-chip {
  background: #00FF0661;
}

:host ::ng-deep .p-chip.color24-chip {
  background: #EB020061;
}